/*.article-body div.syntaxhighlighter  {
    margin-left:12px !important;
}

.article-body p {
	text-indent: 1em;
    line-height: 1.7em;
}

/*代码展示*/
/*.syntaxhighlighter {
    overflow: visible !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.syntaxhighlighter {
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}

.syntaxhighlighter table td.code .line {
    line-height: 20px !important;
}

div.syntaxhighlighter .gutter .line {
    border-right: 0 !important;
    line-height: 20px !important;
}*/
